/* Emphasis */
#emphasis{
  background-image: url("https://images.unsplash.com/photo-1641765170634-4240fede7a17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 10% 20% 10% 20%;
}
.emphasis-text{
  padding: 5% 10%;
  color: #323232;
  background-color: rgba(248, 249, 250, 0.8);
  box-shadow: 0px 0px 35px -15px black;
  text-align: center;
}
.emphasis-h1{
  font-family: 'Courgette', cursive;
  font-size: 4rem;
  color: #FF0B55;
  margin-bottom: 5%;
}
.emphasis-h2{
  margin: 0 20%;
}
.emphasis-p{
  margin: 5% 20%;
}
.emphasis-btn{
  margin: 0 20% 3% 20%;
}
.emphasis-btn-md{
  display: none;
}


/* News */
#news{
  text-align: center;
  margin: 10% 0;
}
.news-top-p{
  margin-bottom: 5%;
}
.card-img-top{
  height: 200px;
}
.btn-more-news{
  margin-top: 10%;
}
.news-card{
  box-shadow: 0px 0px 25px -15px;
}


/* Events */
#events{
  margin: 10% 0;
}
.events-row{
  background-color:#D61D4E;
  box-shadow: 11px 11px 30px -10px;
}
.events-h3{
  margin: 10% 10% 5% 10%;
  color: #fff;
}
.events-card{
  margin: 0 10% 10% 10%;
}


/* Tablet Devices */
@media(min-width: 768px) and (max-width: 991px){
  /* Emphasis */
  #emphasis{
    padding: 20% 10%;
  }
  .emphasis-text{
    padding: 5% 10%;
  }
  .emphasis-h1{
    margin-bottom: 5%;
    font-size: 3rem;
  }
  .emphasis-h2{
    margin: 0 20%;
    font-size: 28px;
  }
  .emphasis-p{
    margin: 5% 20%;
    font-size: 15px;
  }
  .emphasis-btn{
    margin: 0 20% 3% 20%;
  }

  /* News */
  .news-top-p{
    margin-bottom: 10%;
  }
  .card-text{
    font-size: 15px;
  }
  .news-card-3{
    margin: 10% auto;
    width: 50%;
  }
  .btn-more-news{
    margin: 3% 0 10% 0;
  }

  /* Events */
  .events-h3{
    font-size: 24px;
  }
  .list-group-item{
    font-size: 15px;
  }
}


/* Mobile Devices */
@media(min-width: 360px) and (max-width: 767px){
  /* Emphasis */
  #emphasis{
    padding: 33% 0 15% 0;
  }
  .emphasis-text{
    padding: 5% 10%;
  }
  .emphasis-h1{
    margin-bottom: 5%;
    font-size: 2rem;
  }
  .emphasis-h2{
    margin: 0 20%;
    font-size: 22px;
  }
  .emphasis-p{
    margin: 5% 20%;
    font-size: 15px;
  }
  .emphasis-btn{
    margin: 0 20% 3% 20%;
  }
  .emphasis-btn-lg{
    display: none;
  }
  .emphasis-btn-md{
    display: inline;
  }

  /* News */
  .news-top-h1{
    margin-top: 30%;
    font-size: 28px;
  }
  .news-top-p{
    margin-bottom: 10%;
    font-size: 15px;
  }
  .card-text{
    font-size: 13px;
  }
  .news-card{
    margin: 10% 0;
  }
  .btn-more-news{
    margin: 3% 0 20% 0;
  }

  /* Events */
  #events{
    margin: 20% 0;
  }
  .events-h3{
    font-size: 24px;
  }
  .list-group-item{
    font-size: 13px;
  }
  .events-row{
    padding: 15% 0;
  }
}
